[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pandas = "*"
numpy = "*"
dash = "*"
matplotlib = "*"
dash-table = "*"
dash-bootstrap-components = "*"
scipy = "*"
gunicorn = "*"
pyod = "*"

[requires]
python_version = "3.7"
